#root {
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: oklch(0.13 0.028 261.692);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply text-gray-600 dark:text-gray-400 bg-white dark:bg-gray-900;
  }
}

@layer components {
  .badge {
    @apply inline-flex items-center rounded-full px-3 py-1 font-medium ring-1 ring-purple-700/10 ring-inset;
  }

  .badge-animate {
    @apply hover:bg-indigo-600 dark:bg-gray-800 dark:border-gray-700 hover:text-white text-indigo-500 transition-colors duration-300;
  }

  .header {
    @apply text-indigo-900 dark:text-indigo-600;
  }

  .line-after {
    @apply relative pb-2 after:content-[''] after:absolute after:w-[50px] after:h-[3px] after:bottom-0 after:left-0 after:bg-indigo-500;
  }

  .link {
    @apply text-indigo-500 hover:text-indigo-800 dark:hover:text-indigo-600 transition-colors;
  }

  .link-line {
    @apply relative after:content-[''] after:absolute after:left-0 after:bottom-[-2px] 
    after:w-full after:h-[2px] after:bg-indigo-500
    after:scale-x-0 after:origin-bottom-right 
    after:transition-transform after:duration-300 after:ease-out 
    hover:after:scale-x-100 hover:after:origin-bottom-left;
  }

  .description {
    @apply text-base/7;
  }

  .card-animation {
    @apply shadow-sm hover:shadow-md delay-50 duration-300 transition-all ease-in-out hover:-translate-y-1 hover:scale-105 bg-white dark:bg-gray-800 dark:border-gray-700;
  }

  .icon {
    @apply w-6 h-6 text-indigo-500 group-hover:text-white;
  }

  .card-hover-color {
    @apply hover:bg-indigo-600 hover:text-white;
  }

  .btn-primary-fixed {
    @apply bg-indigo-600 text-white;
  }

  .btn-secondary-fixed {
    @apply bg-gray-200 dark:bg-gray-800 dark:border-gray-700;
  }

  .sidenav-link {
    @apply cursor-pointer flex gap-4 text-gray-400 items-center;
  }

  .sidenav-icon {
    @apply w-6 h-6 group-hover:text-indigo-600;
  }

  .sidenav-link.active .sidenav-icon {
    @apply text-indigo-600;
  }

  .sidenav-menu {
    @apply hover:text-gray-50;
  }

  .sidenav-link.active .sidenav-menu {
    @apply text-gray-50;
  }
}
